html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #000;
  color: #fff;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  color: #000;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-small {
}

.btn-big {
}
